# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment / secrets
.env
.env.*

# Logs
*.log

# IDE files
.vscode/
.idea/

# Data files you may not want to track
*.sqlite
*.db

# Power BI / Tableau temp or local artifacts
*.tmp
*.bak
